<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cn.agentsystem.mapper.FinancialRecordMapper">
  <resultMap id="BaseResultMap" type="cn.cn.agentsystem.pojo.FinancialRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userId" jdbcType="BIGINT" property="userId" />
    <result column="financialTypesId" jdbcType="BIGINT" property="financialTypesId" />
    <result column="financialCapital" jdbcType="REAL" property="financialCapital" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="detailTime" jdbcType="DATE" property="detailTime" />
    <result column="creationBy" jdbcType="BIGINT" property="creationBy" />
    <result column="creationDate" jdbcType="DATE" property="creationDate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyBy" />
    <result column="modifyDate" jdbcType="DATE" property="modifyDate" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, userId, financialTypesId, financialCapital, note, detailTime, creationBy, creationDate, 
    modifyBy, modifyDate
  </sql>
  
</mapper>